.painting-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-content: center;
}

.painting-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.painting-card:hover {
  transform: scale(1.05);
}

.painting-card img {
  width: 100%;
  border-radius: 8px;
  height:auto;
  max-width: 300px;
}
@media (max-width: 768px) {
  .painting-gallery {
    grid-template-columns: repeat(2, 1fr); /* Show 2 images per row on tablets */
  }
}

@media (max-width: 480px) {
  .painting-gallery {
    grid-template-columns: repeat(1, 1fr); /* Show 1 image per row on mobile */
  }

  .painting-card {
    padding: 10px;
  }
}

.painting-container {
  transition: transform 0.3s ease-in-out;
}
.painting-container:hover {
  transform: scale(1.05); /* Slight zoom on hover */
  cursor: pointer;
}
.painting-container img {
  transition: opacity 0.3s ease-in-out;
}
.painting-container:hover img {
  opacity: 0.8; /* Fade effect */
}
