select {
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
select:hover {
  background-color: #f0f0f0;
}

input {
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}
input:focus {
  outline: none;
  border-color: #007BFF;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: auto;
  text-align: center;
}
.overlay {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal img {
  max-width:  90vw; /* Makes the image take 90% of viewport width */
  max-height: 90vh; /* Ensure it fits within the screen */
  object-fit: contain; /* Keeps the aspect ratio */
}