.navbar-links {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping on small screens */
  gap: 15px; /* Adds space between links */
 
}
.store-title {
  font-family: "Poppins", sans-serif;
  font-size: 2rem; /* Adjusted for better visibility */
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}
@media (max-width: 600px) {
  .navbar {
    flex-direction: column; /* Stacks navbar items */
    text-align: center;
  }
  
  .navbar-links {
    flex-direction: column; /* Stack links vertically */
    gap:5px;
  }
  
  .store-title {
    font-size: 1.5rem; /* Smaller font for mobile */
  }
}
